h4 {
    color: #063189
}

h3 {
    color: #063189
}

h1 {
    color: #063189
}

/*.badge {*/
    /*background-color: #DD4A4A;*/
/*}*/
/*.list-group {*/
    /*background-color: #EEEEEE;*/
/*}*/
/*.col-sm-1 {*/
    /*background-color: #50b6ef;*/
/*}*/
/*.row {*/
    /*background-color: #50b6ef;*/
/*}*/
/*.list-group-item {*/
    /*background-color: #50b6ef;*/
/*}*/
/*.SearchPage{*/
    /*background-color: #50b6ef*/
/*}*/
/*.container{*/
    /*background-color: #50b6ef*/
/*}*/
